* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  color: #0290ff;
}

.main-nav {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  /* padding-top: 0.5em; */
  /* padding-bottom: 0.5em; */
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  /* -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75); */
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  /* -webkit-border-radius: 5px; */
  /* -moz-border-radius: 5px; */
  /* border-radius: 5px; */
  margin: auto;
  width: 100%;
}

.user {

  border: solid 1px #0291ff5e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #0291ff5e;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .user {
    margin: 0 1rem 0 8rem;
  }
}
